@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  zoom: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media screen and (max-width : 650px) {
  html {
    zoom: 60%;
  }
}


.H7 {
  @apply text-xl text-white tracking-wider font-bold mt-11 text-center m-0
}


.H6 {
  @apply text-sm lg:text-2xl text-white tracking-wider font-bold mt-11 text-center m-0 leading-none
}


.H5 {
  @apply text-3xl text-white tracking-wider font-bold mt-11 text-center m-0 leading-none
}

.H4 {
  @apply text-4xl text-white tracking-wider font-bold mt-11 text-center  m-0 leading-none
}


.H1 {
  @apply text-9xl text-white tracking-wider font-bold mt-11 text-center  m-0
}

.skeleton {
  @apply  bg-gray-200  dark:bg-gray-700 animate-pulse
}
